body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

#leaderboard thead
	width 100%

#leaderboard th
	padding-right 10px
	text-align left

#leaderboard td
	padding 5px 5px 5px 0
	vertical-align top
