#leaderboard
	table.leaderboard
		th Athlete
		th Affiliate
		th Region
		th 12.1
		th 12.2
		th 12.3
		th 12.4
		th 12.5
		tr#athlete-template(style='display: none')
			td.name {{ name }}
			td.rank {{ affiliateRank }}
			td.rank {{ regionRank }}

#rank-template.rank(style='display: none')
	td.workoutScore {{ score }} 
	td.workoutRank {{ affiliateRank }} 
	td.workoutRank {{ regionRank }}

script(type='text/javascript', src='/javascripts/jquery-1.6.4.min.js')
script(type='text/javascript', src='/javascripts/underscore.js')
script(type='text/javascript', src='/javascripts/backbone.js')
script(type='text/javascript', src='/javascripts/open-rank.js')
script
	$(function() {
			var app = new OpenRank();
			var leaderboard = new app.Collections.Leaderboard(!{athletes});
			var leaderboardView = new app.Views.LeaderboardView({collection: leaderboard});
			leaderboardView.render();
		});
	